[package]
name = "autarkie_libfuzzer_runtime"
version = "0.9.0"
edition = "2021"
publish = false

[features]
default = ["fork"]
fork = ["libafl/fork"]
track_hit_feedbacks = ["libafl/track_hit_feedbacks", "libafl_targets/track_hit_feedbacks"]

[profile.release]
lto = true
codegen-units = 1
opt-level = 3
debug = true

[profile.release-fuzzbench]
inherits = "release"
debug = false
strip = true

[lib]
name = "libafl_libfuzzer_runtime"
crate-type = ["staticlib", "rlib"]

[dependencies]
libc = "0.2.159"
rand = "0.8.5"
utf8-chars = "3.0.4"
env_logger = "0.11.5"

[dependencies.libafl]
workspace = true

[dependencies.libafl_bolts]
workspace = true

[dependencies.libafl_targets]
workspace = true
default-features = false
features = ["libfuzzer", "cmplog", "sancov_cmplog", "sancov_pcguard", "libfuzzer_define_run_driver"]

[dependencies.ahash]
version = "0.8.11"
default-features = false

[dependencies.log]
version = "0.4.22"
features = ["release_max_level_info"]

[dependencies.mimalloc]
version = "0.1.43"
default-features = false

[dependencies.num-traits]
version = "0.2.19"
default-features = true

[dependencies.serde]
version = "1.0.210"
default-features = true
features = ["derive"]

[dependencies.hashbrown]
version = "0.14.5"
default-features = true


[build-dependencies]
bindgen = "0.71.1"

[build-dependencies.cc]
version = "1.1.22"
features = ["parallel"]
